*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
  margin-block-end: 16px;
}

video {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-block-size: 54px;
  padding: 2px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: inherit;
  font-weight: 400;
  line-height: 21.6px;
  padding-block-end: 5px;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  min-inline-size: 225px;
  min-block-size: 27px;
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
  line-height: 21.6px;
  background-color: transparent;
  border: 1px solid transparent;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding: 0;
}

.search-form__textfield:active {
  outline: 1px solid currentColor;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid currentColor;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  align-items: center;
  inline-size: 15px;
  block-size: 15px;
  background-color: currentColor;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  font-family: inherit;
  color: currentColor;
  font-size: inherit;
  font-weight: 700;
  line-height: 21.6px;
  border: 1px solid currentColor;
  padding: 6px 2px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
  min-block-size: 34px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  block-size: 298px;
  position: relative;
  overflow: auto;
  padding: 2px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: currentColor;
  padding: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover .content__video-card-description-container {
  text-decoration: underline;
  text-underline-offset: 1.5px;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-inline-size: 199px;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  margin-block-end: 2px;
}

p.content__video-card-description::first-letter {
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-position: center;
  object-fit: cover;
}

.more-button {
  inline-size: 100%;
  min-block-size: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}